extends layout

block content
    
    .row.justify-content-center
        .col-sm-6
            legend New Cat
            form(action="/cats", method="POST")
                .form-group
                    label Name
                    input.form-control(name="name")
                .form-group
                    label Species
                    input.form-control(name="species")
                .form-group
                    label Rectangular Image URL
                    input.form-control(name="picUrl") 
                .form-group
                    label Description
                    textarea.form-control(name="bio")   
                button(type="submit").btn.btn-primary Save
