extends layout

block content
    
    .row.justify-content-center
        .col-sm-6
            legend New Cat
            form(action="/cats/" + cat.id + "?_method=PUT", method="POST")
                .form-group
                    label Name
                    input.form-control(name="name" value=cat.name)
                .form-group
                    label Species
                    input.form-control(name="species" value=cat.species)    
                .form-group
                    label Rectangular Image URL
                    input.form-control(name="picUrl" value=cat.picUrl) 
                .form-group
                    label Biography
                    textarea.form-control(name="bio")= cat.bio
                button(type="submit").btn.btn-primary Save
            .text-right
              form(action="/cats/" + cat.id + "?_method=DELETE", method="POST")
                    button(type="submit").btn.btn-danger Remove
